@import '../css/reset.css';

.document p, .document li {
  font-size: 23px;
  font-weight: 100;
  line-height: 1.3;
}

.document p, .document ul {
  margin-top: 15px;
}

.document h3 {
  font-size: 26px;
  font-weight: 400;
  margin-top: 50px;
}

.document ul {
  list-style-type: circle;
  margin-left: 10px;
}

.document h1 {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.document .section.main {
  background: white;
  padding: 70px 0;
}