@import './reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

h1,h2,h3,h4,h5,h6, .button, .feature-sig {
  font-family: 'Open Sans', sans-serif;
}

p,a,li,blockquote, input[type="email"] {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #111111;
}

@mixin shadow-monster {
  transition: all ease 0.2s;
  &:hover {
    color: white;
    // border: none;
    box-shadow: 0 8px 12px rgba(50,50,93,.4), 0 1px 3px rgba(0,0,0,.08);
    outline: 0;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

body {
  background: #f2f6f8;
  overflow-x: hidden;
}

i {
  font-style: italic;
}

p a {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  border-bottom: 3px solid #32c6e7;
  transition: background .3s ease;
  &:hover {
    background: #32c6e7;
    // color: white;
  }
}

.wrapper {
  height: 100%;
  width: 90%;
  margin: auto;
  max-width: 1024px;
}

.content {
  margin: 60px 0;
  display: flex;
  justify-content: space-around;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.feature-title {
  font-size: 3em;
}

.feature-image {
  img {
    width: 330px;
  }
  text-align: center;
}

.features {
  padding: 120px 0 200px;
  background: white;
}

.features-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.feature .material-icons {
  font-size: 1.2em;
  margin: 7px 0 19px;
  color: rgba(0, 0, 0, 0.671);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 3px;
    width: 23px;
    left: 13px;
    bottom: -6px;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(2px);
    right: 0;
  }
}

.tweets .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .twitter-tweet {
    width: 328px !important;
  }
}

.get {
  background: white;
}

.description {
  font-size: 26px;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 100;
}

.main-header {
  height: 80px;
  // background: #111111;
  .header-content {
    height: 100%;
    display: flex;
    align-items: center;
    user-select: center;
  }
}

.main-menu {
  flex: 1;
  text-align: right;
  a {
    margin-left: 10px;
    margin-right: 10px;
    color: #111111;
    text-decoration: none;
    font-size: 20px;
    transition: all .15s ease;
    &:hover {
      &.fb { color: #3b5998; }
      &.tw { color: #1da1f2; }
      &.gh { color: #333; }
      &.em { color: #239ab9; }
    }
  }
}

.logo {
  box-sizing: border-box;
  img {
    width: 170px;
    height: auto;
  }
}

.content-title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.content-text {
  text-align: center;
  font-size: 1.2em;
  max-width: 640px;
  margin: auto;
  line-height: 1.5;
}

.features-content {
  margin-bottom: 100px;
}

.blend {
  z-index: -1;
  width: 1671px;
  height: 428px;
  position: absolute;
  mix-blend-mode: overlay;
  left: -103 px;
  top: 230px;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1196 307"><g fill="none" fill-rule="evenodd" stroke="#333333"><path d="M28.21 196.76C201.01 141.92 366.06 38.2 545.16 6.7c160.86-28.3 265.46 46.62 412.99 95.5 67.32 22.3 142.82 49.32 199.3-8.38"/><path d="M25.66 192.5C195.4 139.1 359.1 40.58 535.25 13.25c163.2-25.31 265.44 54.71 413.7 105.66 72.27 24.83 156.68 45.22 211.9-19.99"/><path d="M23.1 188.25C189.79 136.26 352.2 43.06 525.35 19.8c165.57-22.25 265.4 62.93 414.4 115.82 77.21 27.4 170.54 41.12 224.51-31.6"/><path d="M20.55 184c163.6-50.57 324.76-138.32 494.88-157.65C683.4 7.26 780.75 97.59 930.55 152.33c82.13 30 184.39 37.01 237.1-43.2"/><path d="M18 179.74C178.54 130.6 338.46 48.41 505.52 32.9c170.4-15.82 265.21 79.64 415.83 136.15 87.04 32.65 198.24 32.91 249.7-54.8"/><path d="M15.45 175.49C172.92 127.77 331.62 51.26 495.61 39.44c172.83-12.46 265.08 88.09 416.54 146.3 91.93 35.35 212.1 28.82 262.31-66.4"/><path d="M12.9 171.24c154.4-46.3 311.9-117.02 472.8-125.25 175.29-8.97 264.93 96.6 417.25 156.47 96.82 38.05 225.95 24.7 274.91-78.02"/><path d="M10.34 166.98C161.68 122.11 317.98 57.3 475.8 52.53c177.74-5.36 264.76 105.17 417.96 166.64 101.69 40.8 239.8 20.6 287.52-89.62"/><path d="M7.8 162.73C156.05 119.28 311.14 60.48 465.88 59.08c180.19-1.62 264.56 113.76 418.66 176.8 106.54 43.59 253.66 16.5 300.12-101.23"/><path d="M5.24 158.47c145.2-42.02 299.08-94.71 450.74-92.84 182.63 2.25 264.36 122.39 419.37 186.96 111.39 46.4 267.52 12.4 312.72-112.83"/><path d="M2.69 154.22c142.14-40.6 294.78-87.08 443.38-82.04 185.06 6.27 264.05 131.26 420.08 197.12 116.14 49.4 281.37 8.3 325.32-124.44"/><path d="M.14 149.97C139.2 110.79 290.59 70.6 436.16 78.72c187.45 10.45 263.9 139.73 420.79 207.29 121.03 52.12 295.23 4.19 337.93-136.04"/></g></svg>');
  opacity: .1;
  -webkit-transform: scaleX(-1) rotate(-9deg);
          transform: scaleX(-1) rotate(-9deg);
}

.hero-image img {
  width: 375px;
}

.hero-image, .feature-image {
  img {
    height: auto;
    box-shadow: 0 3px 22px 0 rgba(0, 0, 0, .11), 0 1px 4px 0 rgba(0, 0, 0, .09), inset 0 -1px 9px 0 rgba(0, 0, 0, .12);
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px 0;
  h1 {
    max-width: 700px;
    text-align: center;
    font-weight: 400;
    font-size: 3em;
    line-height: 1.2;
    font-weight: bold;
  }

  .hero-copy {
    margin: 30px 0;
    p {
      line-height: 1.3;
      font-size: 30px;
    }
  }
}

.download-prep {
  font-size: 20px;
  margin-bottom: 10px;
}

.github-release {
  margin-top: 10px;
  font-size: 20px;
}

.download {
  p {
    text-align: center;
  }
  margin-top: 90px;
  margin-bottom: 90px;
}

.download-buttons {
  display: flex;
}

.download-button {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  font-size: 15px;
  font-family: brandon-grotesque,Helvetica,sans-serif;
  outline: 0;
  border: 1px solid #0073ff;
  background: none;
  color: #111111;
  &:hover {
    @include shadow-monster;
    background: rgba(#0073ff,0.8);
  }
  min-width: 150px;
  padding: 0 10px;
  height: 45px;
  margin-right: 10px;
}

.footer {

}

.featured {
  width: 100%;
  margin-bottom: 60px;
  h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .feature-gallery {
    margin: auto;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      transition: all .3s ease;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
}
