@import './reset';
@import './fonts.scss';

$mobile: 500px;
$tablet: 800px;

td, h1,h2,h3,h4,h5,h6, .button, .feature-sig, div {
  font-family: 'Tofino', sans-serif;
}
b {
  font-weight: bold;
}

small, p,a,li,blockquote, input[type="email"] {
  font-family: 'Tofino';
  font-weight: 300;
}

.app-image {
  border-radius: 8px;
  width: 376px;
  height: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
i {
  font-style: italic;
}

.section {
  background: #F7F9FA;
  @media(max-width: $tablet) {
    padding: 60px 0;
  }
}
section {
  padding: 120px 0;
}
h2 {
  font-weight: 400;
  font-size: 30px;
}



.main-header {
  position: absolute;
  width: 100%;
  .header-content {
    display: flex;
    align-items: center;
    height: 90px;
  }
}

.section.hero {
  padding-top: 90px;
  background: #303438;
  color: white;
  max-height: 770px;
  margin-bottom: 50px;
  .hero-section-copy {
    margin-top: 50px;
    margin-bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;

    h1 {
      font-weight: 600;
      color: white;
      max-width: 700px;
      text-align: center;
      font-size: 2.625em;
      font-weight: normal;
      line-height: 1.2;
      @media(max-width: $mobile) {
        font-size: 2em;
      }
    }

    .home-hero-subheading {
      padding-top: 15px;
      font-size: 1.375em;
      p {
        color: #aeb2b9;
        line-height: 38px;
        font-weight: 300;
      }
    }
  }
  .hero-image {
    position: relative;
    .macbook {
      width: 100%;
    }
    .mac-screen {
      top: 77px;
      left: 120px;
      right: 120px;
      bottom: 110px;
      background-image: url(/images/mac-background-50.jpg);
      position: absolute;
      overflow: hidden;
    }

    .roller {
      img {
        width: 910px;
        animation: roller 90s linear infinite;
      }
      left: -436px;
      top: -422px;
      transform: rotate(40deg);
      position: absolute;
    }
  }
}

.unsplash {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: 100;
}
.section.featured-on {
  padding-top: 30px;
  background: white;
  img {
    filter: grayscale(1);
    opacity: 0.8;
  }
  .partial-company-loved-by {
    color: #424950;
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
  }
  .partial-company-logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .partial-company-company {
    width: 1020px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
  }
}

.home-feature-block-text-wrapper {
  text-align: center;
}

.home-feature-block-heading {
  line-height: 35px;
  color: #444;
  margin-bottom: 20px;
}

.home-feature-block-text {
  color: #424950;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  line-height: 26px;
}

.center-of-attention {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  border-bottom: 3px solid #32c6e7;
  transition: background .3s ease;
  &:hover {
    background: #32c6e7;
    // color: white;
  }
}

.container {
  position: relative;
  overflow: hidden;
}

.wrapper {
  max-width: 69em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative;
}

.content {
  margin: 60px 0;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  @media(max-width: $tablet) {
    width: 60%;
  }
  @media(max-width: $mobile) {
    width: 100%;
  }
}

.section.sub {
  .sub-feature-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  background: white;
  .sub-category {
    width: 300px;
    margin-bottom: 40px;
    h4 {
      color: #444;
      margin-bottom: 12px;
      font-size: 18px;
    }
    p {
      color: #424950;
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.feature-title {
  font-size: 3em;
  margin-bottom: 20px;
  @media(max-width: $tablet) {
    font-size: 2em;
    text-align: center;
  }
}

.twitter-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}

.feature-image {
  img {
    width: 330px;
  }
  text-align: center;
}

.features {

}

.features-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.extra-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;

  @media(max-width: $tablet) {
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }
}

.twitter-tweet {
  width: 328px !important;
}

.get {
  background: white;
}

.description {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 100;
  @media(max-width: $tablet) {
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.main-menu {
  flex: 1;
  text-align: right;
  a {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
}

.logo {
  box-sizing: border-box;

}

.text-logo {
  width: 170px;
  height: auto;
}

.round-logo {
  width: 28px;
  height: auto;
  margin-right: 5px;
  position: relative;
  top: 1px;
}


.content-title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;

  @media(max-width: $tablet) {
    font-size: 2.7em;
    text-align: center;
  }
}

.content {
  @media(max-width: $tablet) {
    &:nth-child(odd) .feature-content {
      flex-direction: column-reverse;
    }
  }
}

.feature-content {
  display: flex;
  justify-content: space-around;
  @media(max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.feature-gallery {
  @media(max-width: $tablet) {
    flex-direction: column;
  }
}

.content-text {
  text-align: center;
  font-size: 23px;
  max-width: 640px;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.download {
  p {
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  @media(max-width: $mobile) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.tippy-content {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: white;
  a {
    display: block;
    padding: 14px;
    text-decoration: none;
    color: #656565;
    transition: all .2s ease;
    text-align: left;
    font-size: 16px;
    &:nth-child(1) {
      &:hover {
        background: #e9f2fd;
        color: #448bf0;
      }
    }
    &:nth-child(2) {
      &:hover {
        background: #fff5e7;
        color: #ffa834;
      }
    }
    &:nth-child(3) {
      &:hover {
        background: #fddfe0;
        color: #f5353b;
      }
    }
  }
}

.tippy-arrow {
  border-bottom-color: white !important;
  border-top-color: white !important;
}

.tippy-tooltip.honeybee-theme {
  background-color: white;
  padding: 4px;
  width: 300px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 8px;
}

.download-buttons {
  display: flex;
}

.primary-button {
  cursor: pointer;
  margin: 0 4px;
  text-decoration: none;
  font-weight: 800;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  outline: 0;
  color: white;
  border: 2px solid #FFAE68;
  background: #FFAE68;
  &:hover {
    background: lighten(#FFAE68, 5);
  }
  min-width: 150px;
  padding: 20px 40px;
  @media(max-width: $mobile) {
    min-width: 120px;
  }
}


.pricing {
  background: white;
  .usd-astrix {
    margin-top: 30px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .plan-switcher {
    a {
      color: #BEC8CE;
      font-weight: bold !important;
    }
  }
}

.section.collect {
  background: white;
}

.section .left-content {
  width: 420px;
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

.section.testimonials {
  background: #ffbe76;
  .testimonial-header {
    text-align: center;
    color: white;
    margin-bottom: 60px;
    h2 {
      font-size: 36px;
      font-weight: 100;
    }
  }
  .testimonial-grid {
    display: flex;
    justify-content: space-between;
    .testimonial {
      width: 100%;
      margin: 0 10px;
      height: 320px;
      background-color: white;
      border-radius: 8px;
      position: relative;
    }

    .testimonial-text {
      padding: 40px;
      p {
        font-size: 18px;
        line-height: 26px;
        color: #444;
      }
    }

    .testimonial-person {
      width: 100%;
      height: 70px;
      position: absolute;
      bottom:0;
      left: 20px;
      display: flex;
      align-items: center;
      p { font-weight: 600; }
      img {
        filter: grayscale(1);
        margin-right: 10px;
        height: auto;
        width: 40px;
      }
    }
  }
}

.section.pro {
  .pro-badge {
    font-size: 18px;
    bottom: 0;
  }
  overflow: hidden;
  padding: 120px 0;
  width: 100%;
  background-image: url(/images/sierra.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .home-feature-block-heading {
    h2 {
      color: #333;
      font-weight: bold;
      font-size: 45px;
    }
  }

  .home-feature-block-text {
    max-width: 600px;
    margin: 40px auto;
    margin-bottom: 100px;
    p {
      line-height: 23px;
      color: hsl(0, 0%, 95%);
      font-size: 20px;
    }
  }
  .pro-features {
    display: flex;
    justify-content: space-between;
    .pro-feature {
      img {
        transition: all .3s ease;
        width: 320px;
        height: auto;
      }
      &:hover {
        img {
          transform: translateY(40%);
        }
      }
    }
  }
}

#radio-insights {
  h3 {
    border-bottom: 4px solid rgba(#448bf0,0.7);
  }
}

#album-mode {
  h3 {
    border-bottom: 4px solid rgba(#f5353b,0.7);
  }
}

#party-shuffle {
  h3 {
    border-bottom: 4px solid rgba(#ffa834,0.7);
  }
}

.bubble {
  // height: 160px;
  border-radius: 13px;
  text-align: left;
  padding: 11px;
  h3 {
    padding-bottom: 3px;
    margin-bottom: 6px;
    font-size: 20px;
  }
  p {
    line-height: 26px;
    font-size: 16px;
  }
}

.tippy-content {
  border-radius: 13px;
}

.pricing-table {
  padding-bottom: 20px;
  max-width: 700px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  .column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan-description {
    line-height: 1.5;
    height: 75px;
    text-align: center;
    width: 100%;
    color: #6c6f73;
  }

  .plan-name {
    font-size: 16px;
    text-transform: uppercase;
    color: #BEC8CE;
    font-weight: bold;
  }

  .plan-price {
    margin: 20px 0;
    font-weight: 100;
    font-size: 3.5em;
  }

  .duration {
    font-size: 25px;
    position: relative;
    right: 14px;
  }

  .feature-row {
    p {
      color: #6c6f73;
      font-size: 20px;
    }
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #BEC8CE;
    &.last {
      border-bottom: 1px solid #BEC8CE;
    }
  }
}

.github-release {
  font-size: 12px;
}

footer {
  background: #011f29;
  padding: 60px 0 20px;
  color: white;
  .footer-grid {
    display: flex;
    .col-0 {
      flex: 3;
      p {
        color: #BEC8CE;
        line-height: 26px;
      }
      img {
        margin-bottom: 15px;
      }
      p {
        width: 300px;
      }
    }
    .col-1, .col-2 {
      flex: 1;
      p {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  ul {
    margin-top: 10px;
    li {
      margin-bottom: 10px;
    }
    a {
      font-size: 15px;
      text-decoration: none;
      color: #BEC8CE;
      &:hover {
        text-decoration: initial;
      }
    }
  }

  .copy-section {
    line-height: 20px;
    font-size: 13px;
  }
}

.back-to-top {
  text-align: center;
  font-size: 34px;
  position: relative;
  top: 33px;
}

.pro-badge {
  position: relative;
  background: #FFDD1B;
  color: #011f29;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 4px;
  // font-size: 18px;
  vertical-align: middle;
  bottom: 1px;
}

#dl-selector {
  display: none;
}

@keyframes roller {
  0% {
    transform: translateY(35%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media(max-width: 720px) {
  .section.hero .hero-image .mac-screen {
    top: 36px;
    left: 60px;
    right: 60px;
    bottom: 45px;
  }

  .section.hero .hero-image .roller {
    left: -127px;
    top: -82px;
    img {
      width: 300px;
    }
  }

  .main-menu {
    display: none;
  }
  .hero-section-copy {
    text-align: center;
  }
  .partial-company-company {
    flex-direction: column;
    .partial-company-logo {
      margin-bottom: 22px;
    }
  }
  .center-of-attention {
    flex-direction: column;
    .center-image {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
  .section .left-content {
    width: 95%;
    // text-align: center
  }
  .section.sub .sub-feature-grid {
    align-items: center;
  }

  .testimonial-grid {
    flex-direction: column;
  }

  .section.testimonials .testimonial-grid .testimonial {
    width: 80%;
    margin: 20px auto;
  }
  .section.pro .pro-features {
    flex-direction: column;
    align-items: center;
  }
  .pro-feature {
    margin-bottom: 50px;
  }

  .pricing-table {
    flex-direction: column;
    align-items: center;
    .plan-price {
      text-align: center;
    }
    .column {
      margin-bottom: 50px;
    }
  }
  .twitter-grid {
    flex-flow: initial;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }

  footer .footer-grid {
    flex-direction: column;
    .col-0,.col-1,.col-2 {
      margin-bottom: 30px;
    }
  }
}
