<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="DDFi3D6NAFMAbvNP66ctlnuQg5dguTAAlygt7jBDQn0" />
    <meta property="og:url" content="https://headsetapp.co" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Headset" />
    <meta property="og:description" content="Discover, collect, and play music on YouTube" />
    <meta property="og:image" content="https://headsetapp.co/images/og4.png" />
    <meta property="og:image:type" content="image/png" />

    <title>Headset - Discover, collect, and play music on YouTube</title>
    <link rel="stylesheet" href="https://headsetapp.co/css/style.css">
    <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-48x48.png" sizes="48x48">
    <link rel="stylesheet" href="https://headsetapp.co/css/font-awesome.min.css">
  </head>
  <body>
  <div class="container">
    <header class="main-header">
      <div class="wrapper">
        <div class="header-content">
          <div class="logo">
            <a href="/">
              <img src="images/Logo-dark.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="section main">
      {{ content }}
    </div>
    <footer>
      <h4>Questions? Feedback?</h4>
      <div class="social">
        <a href="https://www.facebook.com/headsethq/" target="_blank" class="fb">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/headsetapp/headset-electron" target="_blank" class="gh">
          <i class="fa fa-github-alt" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/headsetapp" target="_blank" class="tw">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://join.slack.com/t/headsetapp/shared_invite/enQtMjI2MDc1NjUwODA0LWVkZGMwZDE5Mzg1NWU3YmUzNWNkODk1MjY5NjZjMjQ5YmEwMjA0ZjM4MGMzMmNkOGY2NGM2M2Y5NDZlNDFkMTc"
          target="_blank" class="sl">
          <i class="fa fa-slack" aria-hidden="true"></i>
        </a>
        <a href="mailto:hello@headsetapp.co" target="_blank" class="em">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      </div>
      <div class="policy">
        <p class="copyright">
          Created by
          <a target="_blank" href="https://twitter.com/danielravina">@danielravina</a>
          @
          <span id="copy-year"></span> |
          <a href="legal">Legal</a>
        </p>
      </div>
    </footer>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93099815-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>