<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="DDFi3D6NAFMAbvNP66ctlnuQg5dguTAAlygt7jBDQn0" />
  <meta property="og:url" content="https://headsetapp.co" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Headset" />
  <meta property="og:description" content="Desktop music player built on YouTube and Reddit" />
  <meta property="og:image" content="https://headsetapp.co/images/og5.png" />
  <meta property="og:image:type" content="image/png" />

  <title>Headset - Desktop Music Player Built on YouTube and Reddit</title>
  <link rel="stylesheet" href="https://headsetapp.co/css/style.css">
  <link rel="stylesheet" href="https://headsetapp.co/css/document.css">
  <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-48x48.png" sizes="48x48">
</head>

<body class="document">
  <a name="top"></a>
  <div class="container">
    <header class="main-header">
      <div class="wrapper">
        <div class="header-content">
          <div class="logo">
            <a href="https://headsetapp.co/">
              <img src="https://headsetapp.co/images/Logo-dark.png" alt="" class="text-logo">
            </a>
          </div>
          <div class="main-menu">
            <a href="https://headsetapp.co/#features">
              Features
            </a>
            <a href="https://headsetapp.co/#pro">
              Pro
            </a>
            <a href="https://headsetapp.co/#pricing">
              Pricing
            </a>
            <a href="https://headsetapp.co/#contact">
              Contact
            </a>
            <a href="https://headsetapp.co/docs/faq">
              FAQ
            </a>
          </div>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="wrapper">
        {{ content }}
      </div>
    </section>
    <footer>
      <div class="wrapper">
        <div class="footer-grid">
          <div class="col-0">
            <img class="round-logo" src="https://headsetapp.co/images/Headset-64px.png" alt="">
            <img src="https://headsetapp.co/images/Logo.png" class="text-logo" alt="">
            <p>Headset is simple music player for busy people everywhere.</p>
          </div>
          <div class="col-1">
            <p>Product</p>
            <ul>
              <li>
                <a href="https://headsetapp.co/#features">Features</a>
              </li>
              <li>
                <a href="https://headsetapp.co/#pro">Headset
                  <span class="pro-badge">Pro</span>
                </a>
              </li>
              <li>
                <a href="https://headsetapp.co/#pricing">Pricing</a>
              </li>
              <li>
                <a target="_blank" href="https://headsetapp.co/docs/faq">FAQ</a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/headsetapp/headset-electron/issues">Submit an Issue</a>
              </li>
              <li>
                <a href="https://headsetapp.co/terms">Terms of Service</a>
              </li>
              <li>
                <a href="https://headsetapp.co/privacy">Privacy Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-2">
            <p>Contact Us</p>
            <ul>
              <li>
                <a target="_blank" href="mailto:hello@headsetapp.co">Email</a>
              </li>
              <li>
                <a target="_blank" href="https://www.facebook.com/headsethq/">Facebook</a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/headsetapp">Twitter</a>
              </li>
              <li>
                <a target="_blank" href="https://join.slack.com/t/headsetapp/shared_invite/enQtMjI2MDc1NjUwODA0LWVkZGMwZDE5Mzg1NWU3YmUzNWNkODk1MjY5NjZjMjQ5YmEwMjA0ZjM4MGMzMmNkOGY2NGM2M2Y5NDZlNDFkMTc">Slack</a>
              </li>
              <li>
                <a target="_blank" href="https://www.instagram.com/headsethq/">Instagram</a>
              </li>
              <li>
                <a target="_blank" href="https://github.com/headsetapp/headset-electron">Github</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="copy-section">
          <p>
            Built and designed by Alignment Digital
            <br> Copyright
            <span id="copy-year"></span> All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://headsetapp.co/js/ga.js"></script>
  <script>
    var d = new Date().getFullYear()
    document.querySelector('#copy-year').innerText = d
  </script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>