<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="DDFi3D6NAFMAbvNP66ctlnuQg5dguTAAlygt7jBDQn0" />
  <meta property="og:url" content="https://headsetapp.co" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Headset" />
  <meta property="og:description" content="Desktop music player built on YouTube and Reddit" />
  <meta property="og:image" content="https://headsetapp.co/images/og5.png" />
  <meta property="og:image:type" content="image/png" />

  <title>Headset - Desktop Music Player Built on YouTube and Reddit</title>
  <link rel="stylesheet" href="https://headsetapp.co/css/style.css">
  <link rel="stylesheet" href="https://headsetapp.co/css/document.css">
  <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://headsetapp.co/images/favicon-48x48.png" sizes="48x48">
</head>

<body class="document">
  <a name="top"></a>
  <div class="container">
    <header class="main-header">
      <div class="wrapper">
        <div class="header-content">
          <div class="logo">
            <a href="https://headsetapp.co/">
              <img src="https://headsetapp.co/images/Logo-dark.png" alt="" class="text-logo">
            </a>
          </div>
          <div class="main-menu">
            <a href="https://headsetapp.co/#features">
              Features
            </a>
            <a href="https://headsetapp.co/#pro">
              Pro
            </a>
            <a href="https://headsetapp.co/#pricing">
              Pricing
            </a>
            <a href="https://headsetapp.co/#contact">
              Contact
            </a>
            <a href="https://headsetapp.co/docs/faq">
              FAQ
            </a>
          </div>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="wrapper">
        {{ content }}
      </div>
    </section>
  </div>
  <script src="https://headsetapp.co/js/ga.js"></script>
</body>
</html>
